<div class="header">
  <h1>Ng TECH</h1>
  <h2>Powered by Hacker News</h2>
</div>

<div class="newsContainer">
  <mat-card *ngFor="let story of newStories">
    <mat-card-header>
      <mat-card-title>
        <h2>{{ story.title }}</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <section>
          <span><mat-icon>person</mat-icon></span> {{ story.by }}
        </section>
        <section>
          <span><mat-icon>calendar_month</mat-icon></span>
          {{ formatDate(story.time) }}
        </section>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
    <mat-divider></mat-divider>

    <mat-card-actions>
      <a mat-raised-button color="primary" [href]="story.url" target="_blank"
        >Read</a
      >
    </mat-card-actions>
  </mat-card>
  <button
    mat-raised-button
    color="primary"
    *ngIf="newStory != null && arrayEnd < newsId.length"
    (click)="loadMore()"
  >
    LOAD MORE
  </button>
</div>